@import './setup';
@import './variable';
@mixin inputDiv {
    justify-content: center;
    // justify-content: space-around;
    gap: 7px;
    color: $primary_color;
    border: none;

    :focus {
        border: 2px solid $secondary_color;
    }
}
@media (max-width: 765px) {
    @mixin inputDiv {
        
        justify-content: center;
        // justify-content: space-around;
        gap: 7px;
        color: $primary_color;
        border: none;
    
        :focus {
            border: 2px solid $secondary_color;
        }
    }
}
@import'./login';
@import'./register';

.border {
    border: 1px solid $primary_color;
    outline: none;
    padding: 10px;
    width: 19vw;
    height: 40px;                
}
@media (max-width: 765px) {
    .border {
        border: 1px solid $primary_color;
        outline: none;
        padding: 10px;
        width: 90%;
        height: 40px;            
    }
}